body
{
    overflow: hidden;
    background-color: wheat;
    height: 100%;
    width: 100%;
 background: linear-gradient(rgb(41, 18, 18) 30%,grey, white); 
 background-repeat: no-repeat; 
}

.ones 
{
    box-sizing: border-box;
    box-shadow: violet;
    text-align: center;
  border: 9px solid rgb(241, 156, 156); 

}
h2{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(grey 60%, rgb(86, 86, 199) 50%);
    text-transform: uppercase;
    text-overflow: unset;
}
.im1{
    padding-top: 20%;
    display: inline;
    justify-content: center;
    padding: 30%;
}
.im1 img{
    border: 10px solid white;
    border-radius: 50px;
    text-align: center;
    display: inline;
    justify-content: center;
    height: 25%;
    width: 35%;
    
}
.touch{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.two{
    border: 10px solid red;
    padding-right: 5%;
    padding-left: 35%;
    align-content: center;
    display: inline-flexbox;
    height: 200%;
    width: 100%;
    align-items: center;
}
.two img{
    justify-items: center;
    border-radius: 15px;
    border: 5px solid pink;
    position: relative;
    padding: 0;
    align-content: center;
    height: 100px;
    display: inline-block;
    float: none;
    
}
.two img:hover{
    width: 40%;
    height: 100%;
}
.nex {
    text-decoration: none;
    text-transform: uppercase;
    text-decoration-color: none;
    font-weight: bold;
    text-align: right;
    font-style: italic;
    font: message-box;
}
